*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Vazirmatn';
}
body{
    height: 100vh;
    background-color: #F0EBD8;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 350px;
    padding: 10px 20px;
    height: auto;
    background-color: #212529;
    box-shadow: 0 0 5px 5px #21252944;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.container .album-pic{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.album-pic .img-holder{
    width: 200px;
    height: 200px;
    border: 2px solid #F0EBD8;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.img-holder img{
    width: 100%;
}


.container .title{
    margin: 15px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    letter-spacing: 2px;
}
.title .singer-name{
    color: #F8F9FA;
    font-size: 28px;
}
.title .music-name{
    color: #6C757D;
    font-size: 20px;
}

.container .details{
    margin: 15px 0;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.details > div{
    width: 100%;
    height: auto;
    padding: 5px 10px;
}
.details .tracker{
    display: flex;
    align-items: center;
    justify-content: center;
}
.details .tracker #slider{
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border: none;
    background-color: #343A40;
}
.tracker #slider::-webkit-slider-thumb{
    appearance: none;
    width: 8px;
    height: 10px;
    background-color: #0077B6;
    cursor: pointer;
}
.details .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details .timer span{
    color: #6C757D;
    font-size: 14px;
}

.details .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.details .btns i{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btns .repeat{
    color: #6C757D;
}
.btns .mute{
    color: #6C757D;
}
.btns .backward, .btns .forward{
    color: #F8F9FA;
    font-size: 24px;
}
.btns .play-pause{
    color: #0077B6;
    border-radius: 50%;
    font-size: 28px;
}



.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #ECF0F1;
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.loader-container.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
    color: #2C3E50;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
  .loader:after {
    left: 3.5em;
}
  
@keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
}
@keyframes fadeOut{
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
        display: none;
    }
}


@media screen and (max-width:480px) {
    .container{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
    }
    .loader-container{
        width: 100%;
        height: 100vh;
    }
}