*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Vazirmatn';
}
body{
    height: 100vh;
    background-color: #F0EBD8;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 350px;
    padding: 10px 20px;
    height: auto;
    background-color: #212529;
    box-shadow: 0 0 5px 5px #21252944;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.container .album-pic{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.album-pic .img-holder{
    width: 200px;
    height: 200px;
    border: 2px solid #F0EBD8;
    border-radius: 50%;
    animation: rotateAnim 4.5s linear infinite;

    display: flex;
    align-items: center;
    justify-content: center;
}
.img-holder img{
    width: 100%;
}


.container .title{
    margin: 15px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    letter-spacing: 2px;
}
.title .singer-name{
    color: #F8F9FA;
    font-size: 28px;
}
.title .music-name{
    color: #6C757D;
    font-size: 18px;
}

.container .details{
    margin: 15px 0;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.details > div{
    width: 100%;
    height: auto;
    padding: 5px 10px;
}
.details .tracker{
    display: flex;
    align-items: center;
    justify-content: center;
}
.details .tracker #slider{
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border: none;
    background-color: #343A40;
}
.tracker #slider::-webkit-slider-thumb{
    appearance: none;
    width: 8px;
    height: 10px;
    background-color: #0077B6;
    cursor: pointer;
}

.details .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details .timer span{
    color: #6C757D;
    font-size: 14px;
}

.details .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.details .btns i{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.btns .repeat{
    color: #6C757D;
}
.btns .mute{
    color: #6C757D;
}
.btns .backward, .btns .forward{
    color: #F8F9FA;
    font-size: 24px;
}
.btns .play-pause{
    width: 70px;
    height: 65px;
    color: #0077B6;
    border-radius: 50%;
    font-size: 28px;
    background-color: #0077B6;
    color: #212529;
}


@keyframes rotateAnim{
    0%{
        transform: rotate(0deg);
       }
    100%{
        transform: rotate(360deg);
       }
}


@media screen and (max-width:480px) {
    .container{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
        gap: 25px;
    }
    .loader-container{
        width: 100%;
        height: 100vh;
    }
}